<div class="container flex items-center justify-center">
  <div class="w-3/12">
    <h2>Reenviar instruções de confirmação</h2>

    <%= fudgeball_form model: resource, url: confirmation_path(resource_name) do |form| %>
      <%= render "shared/error_messages", resource: %>

      <%= form.input :email, :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>

      <%= form.submit "Reenviar instruções de confirmação", class: "mt-5 w-full" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
