<div class="container flex items-center justify-center">
  <div class="w-3/12">
    <h2>Editar <%= resource.class.model_name.human %></h2>

    <%= fudgeball_form model: resource, url: registration_path(resource_name), method: :patch, class: "mt-8" do |form| %>
      <%= render "shared/error_messages", resource: %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= form.input :email, :email, label: "E-mail", required: true, autofocus: true, autocomplete: "email", class: "w-full" %>
      <%= form.input :name, :text, label: "Nome", autocomplete: "name", required: true, class: "w-full" %>
      <%= form.input :last_name, :text, label: "Sobrenome", autocomplete: "last_name", required: true, class: "w-full" %>
      <%= form.input :password, :password, label: "Senha", autocomplete: "new-password", class: "w-full" %>
      <%= form.input :password_confirmation, :password, label: "Confirme a senha", autocomplete: "new-password", class: "w-full" %>
      <%= form.input :current_password, :password, label: "Senha atual", required: true, autocomplete: "current-password", class: "w-full" %>

      <%= form.submit "Atualizar dados", class: "mt-5 w-full" %>
    <% end %>

    <div class="mt-5">
      <%= link_to "Cancelar", dispatches_path %>
    </div>
  </div>
</div>
