<div class="container flex items-center justify-center">
  <div class="w-3/12">
    <h2>Registrar</h2>

    <%= fudgeball_form model: resource, url: registration_path(resource_name), class: "mt-8" do |form| %>
      <%= render  shared/error_messages", resource: %>

      <%= form.input :email, :email, label: "E-mail", autofocus: true, autocomplete: "email", required: true, class: "w-full" %>
      <%= form.input :password, :password, label: "Senha", autocomplete: "new-password", required: true, class: "w-full" %>
      <%= form.input :password_confirmation, :password, label: "Confirme a senha", autocomplete: "new-password", required: true, class: "w-full" %>
      <%= form.select :classification, { label: "Tipo de usuário" }, { required: true, class: "w-full" } %>

      <%= form.submit "Registrar-se", class: "mt-5 w-full" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
