<div id="sub-content" class="container mt-16 md:mt-0">
  <%= fudgeball_return_button patient_surgeries_path(@patient) %>
  <div class="mt-8">
    <%= fudgeball_form_alert class: "my-4" %>
    <p class="mt-2"><span class="font-bold">Paciente:</span> <%= @surgery.patient.full_name %></p>

    <%= render "patients/shared/surgeries/info", patient: @patient, surgery: @surgery, url: patient_surgery_path(@patient, @surgery, mode: :update_discharged_at) %>
    <%= render "patients/shared/surgeries/medications", patient: @patient, surgery: @surgery, url: edit_patient_surgery_path(@patient, @surgery, mode: :add_medication) %>
  </div>
</div>
