<div class="container flex items-center justify-center">
  <div class="w-3/12">
    <h2>Login</h2>

    <%= fudgeball_form model: resource, url: session_path(resource_name), class: "mt-8" do |form| %>
      <%= fudgeball_form_alert class: "my-4" %>

      <%= form.input :email, :email, label: "E-mail", required: true, autofocus: true, autocomplete: "email", class: "w-full" %>
      <%= form.input :password, :password, label: "Senha", required: true, autocomplete: "current-password", class: "w-full" %>

      <%= form.submit "Login", class: "mt-5 w-full" %>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
