<div class="container flex items-center justify-center">
  <div class="w-3/12">
    <h2>Registrar-se como médico</h2>

    <%= fudgeball_form model: @doctor, url: doctors_path, class: "mt-8" do |form| %>
      <%= form.input :name, :text, label: "Nome", autofocus: true, required: true, class: "w-full" %>
      <%= form.input :last_name, :text, label: "Sobrenome", required: true, class: "w-full" %>
      <%= form.input :crm, :text, label: "CRM", class: "w-full" %>
      <%= form.input :cpf, :cpf, label: "CPF", class: "w-full" %>
      <%= form.input :email, :email, label: "E-mail", class: "w-full" %>

      <%= form.submit "Registrar-se", class: "mt-5 w-full" %>
    <% end %>
  </div>
</div>
