<div class="mt-16 flex">
  <%= fudgeball_form model: @prescription, url: patient_diagnostic_prescription_medication_prescriptions_path(@patient, @diagnostic, @prescription), method: :post, class: "flex flex-wrap justify-around" do |form| %>
    <%= fudgeball_form_alert class: "my-4 mx-auto" %>

    <% @prescription.medications_count.times do %>
      <div class="medication shadow p-8 w-96 h-88">
        <%= form.fields_for "medications[]", @prescription.medications.new do |fields| %>
          <%= fields.select :medication, { choices: medications_options }, { required: true, class: "w-full" } %>
          <%= fields.input :dosage, :text, required: true, class: "w-full" %>
          <%= fields.input :schedule, :text, required: true, class: "w-full" %>
        <% end %>
      </div>
    <% end %>

    <div class="mt-8 flex justify-center">
      <%= form.submit "Cadastrar", class: "w-80" %>
    </div>
  <% end %>
</div>
