<div class="container">
  <%= fudgeball_return_button patient_diagnostic_treatments_path(@patient, @diagnostic) %>
  <div class="w-6/12 mx-auto">
    <h2>Editar cirurgia</h2>

    <%= fudgeball_form model: @surgery, url: patient_diagnostic_surgeries_path(@patient, @diagnostic), method: :post, class: "mt-8" do |form| %>
      <%= fudgeball_form_alert class: "my-4" %>

      <%= form.input :date, :date, required: true, autofocus: true, class: "w-full" %>
      <%= form.select :classification, {}, { required: true, class: "w-full" } %>
      <%= form.input :hospital, :text, class: "w-full" %>
      <%= form.input :discharged_at, :date, class: "w-full" %>
      <%= form.input :medications_count, :number, required: true, class: "w-full" %>
      <%= form.text_area :description, rows: 10, class: "w-full" %>

      <%= form.submit "Cadastrar", class: "mt-8 w-full" %>
    <% end %>
  </div>
</div>
