<p class="mt-2"><span class="font-bold">Tipo de tratamento:</span> <%= treatable.class.model_name.human %></p>
<p class="mt-2"><span class="font-bold">Tipo de cirurgia:</span> <%= t(treatable.classification, scope: "activerecord.attributes.surgery/classification") %></p>
<p class="mt-2"><span class="font-bold">Data:</span> <%= treatable.date.strftime("%d/%m/%Y") %></p>
<p class="mt-2"><span class="font-bold">Data da alta:</span> <%= treatable.discharged_at&.strftime("%d/%m/%Y") %></p>
<p class="mt-2"><span class="font-bold">Hospital:</span> <%= treatable.hospital %></p>
